{% extends "layout.twig" %}
{% block class %}bk-pt-default{% endblock %}
{% block content %}

<!-- Header Include -->
    {% include "includes/header.twig" %}

    <div class="page-title">
        <div id="page-zones__template-widgets__pagetitle-page-title" class="widget  widget--template-widget" data-widget-type="pagetitle" data-uniqueid="page-zones__template-widgets__pagetitle-page-title">

        <div class="bk-pagetitle  pagetitle  widget__pagetitle">
            <h1 class="pagetitle-text  pagetitle__pagetitle-text">Contact</h1>
        </div>

    </div>

    </div>

<!--
    <div class="page-title">
        {{widget('pagetitle', 'page-title', {})|raw}}
    </div>
-->


<!-- Container -->
<div class="container">

    <!-- Page Content -->
    <section class="template-content">

        <!-- Main Widget Zone -->
        {{zone('main')|raw}}

    </section>
    <!-- End Page Content -->

</div>
<!-- End Container -->

<!-- Footer Include -->
{% include "includes/footer.twig" %}


{% endblock %}
