<div class="template-footer">
    <!-- Container -->
    <div class="flex-container">

        <!-- Page Content -->
        <div class="flex-item flex-profile1">
            {{widget('profile', 'address', { 'profileType':'address', 'address':'profile'})|raw}}
        </div>
        <div class="flex-item  hero-logo">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {
                "business": "profile"
            })|raw}}
        </div>
        <div class="flex-item flex-profile2">
            {{widget('profile', 'socialicons', { 'profileType':'email', 'socialicons':'email'})|raw}}
        </div>

    </div>
    <!-- End Container -->
</div>
